:root {
        --main-color: #6D9886;
}
        #calendarButton {
                position: absolute;
                z-index: 1;
                left: 65%;
                top: 90%;
                background-color: var(--main-color);
                border-radius: 40px;
                color: white;
                border: none;
                padding: 10px;
        }

#profileData {
        background-color: white;
        box-shadow: 10px 10px 5px gray;
        max-width: 35%;
        padding: 20px;
        margin: 30px;
        border: none;
        border-radius: 30px;
        position: absolute;
}
        #userAvatar {
                max-width: 40%;
                margin: 20px;
        }
        #specialText {
                color: gray;
        }
        #profileBanner {
                width: 100%;
                height: 100px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                z-index: -1;
                background: url("https://media.istockphoto.com/id/1160720443/es/vector/patr%C3%B3n-abstracto-vectorial-simple-sin-costuras-con-textura-de-l%C3%ADnea-dorada-sobre-fondo.jpg?s=612x612&w=0&k=20&c=cqkN10B8e0gjVXCCcFiObSWozOz-HRLVUSTv7_USe8Q=");
        }

#proffesionalData {
        width: 95%;
        border-radius: 10px;
        height: 100px;
        background-color: white;
        box-shadow: 5px 3px 20px lightgray;
        padding: 20px;
        margin: 8px;
        transition: 0.3s;
}
        #proffesionalData:hover{
                background-color: #ededed;
        }
        #proffesionalAvatar {
                max-width: 10%;
        }
        #proffesionalName {
                position: relative;
                left: 80px;
                bottom: 70px;
                max-width: 40%;
        }
        #proffesionalSpecialty {
                max-width: 40%;
                position: relative;
                left: 80px;
                top: -75px;
                opacity: 0.5;
                color: var(--main-color);
        }
        #filterSelect {
                position: relative;
                left: 50%;
                border: 2px solid var(--main-color);
                border-radius: 5px;
                width: 110px;
                height: 35px;
        }

#turnsContainer {
        background-color: lightgray;
        width: 800px;
        height: 350px;
        position: absolute;
        z-index: 1;
        left: 40%;
        top: 30%;
        border-radius: 5px;
}

#turnDoctorInfo :first-child {
        color: var(--main-color);
        font-weight: bold;
        margin: 0 auto;
}
#turnSchedule :first-child {
        color: var(--main-color);
        font-weight: bold;
        margin: 0 auto;
}
#turnSchedule {
        position: relative;
        left: 100px;
        bottom: 65px;
}

#turnDescription {
        width: 100%;
        min-height: 200px;
        background-color: white;
        margin: 0 auto 10px;
        border-radius: 5px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        
}
#submitTurn {
                border: none;
                border-radius: 40px;
                color: white;
                background-color: var(--main-color);
                font-weight: bold;
                padding: 7px;
                margin-bottom: -6px;
}
#turnMessage {
        font-weight: bold;
        color: var(--main-color);
        position: relative;
        left: -55%;
        bottom: -5px;
}

.turnDiv {
        background-color: white;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
}
.turnTittle {
        font-weight: bold;
        margin: 0;
        color: var(--main-color);
}
